name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *" # Runs every day at midnight UTC
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: platane/snk@v3
        with:
          github_user_name: vvdmahesh3 
          # This saves the output directly to the 'output' branch
          output: dist/github-contribution-grid-snake-dark.svg
          commit_author: VVD Mahesh Peruri <immahesh300@gmail.com> 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
